body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td 
  margin:0; padding:0;
body, button, input, select, textarea 
  font:12px/1.5tahoma, arial, \5b8b\4f53;
h1, h2, h3, h4, h5, h6
  font-size:100%;
address, cite, dfn, em, var 
  font-style:normal;
code, kbd, pre, samp 
  font-family:couriernew, courier, monospace;
small
  font-size:12px;
ul, ol 
  list-style:none;
a 
  text-decoration:none;
a:hover 
  text-decoration:underline!important;
sup 
  vertical-align:text-top;
sub
  vertical-align:text-bottom;
legend 
  color:#000;
fieldset, img 
  border:0;
button, input, select, textarea 
  font-size:100%;
table 
  border-collapse:collapse; border-spacing:0;

// global
.ta-c
  text-align: center
.d-f
  display: flex
  justify-content: space-evenly
// nav


@import 'city.styl'


// 底部
.footer
  width: 100%
  line-height:150%
  background: #181818
  position:fixed
  bottom:0
  padding: 10px 0;
  p
    text-align: center
    color:#fff
    font-size: 12px
    

// info

.info-alert-success, .info-alert-danger
  margin-bottom: 0
  position: fixed
  bottom: 0
  width: 100%
  z-index: 99